{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        <section class="col-xs-12 col-md-9">
            <div class="card card-body">
                <h1 class="mb-3">Mark</h1>
                
                <form>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="file">Avatar</label>
                        <input type="file" name="file" id="file" class="form-control-file">
                    </div>

                </form>

                <a class="b-btn b-btn-info mb-1" href="{{ path('admin_user_index') }}">back to list</a>

                <a class="b-btn b-btn-success mb-1" href="{{ path('admin_user_edit', {'id': 1}) }}">Update</a>
            </div>
        </section>

        <section class="col-xs-12 col-md-3">
            <div class="card card-body">
                <img alt="user-avatar" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn4.iconfinder.com%2Fdata%2Ficons%2Fuser-avatar-flat-icons%2F512%2FUser_Avatar-02-512.png&f=1&nofb=1">
            </div>
        </section>
    </div>
{% endblock %}