{% extends 'admin/base.html.twig' %}

{% block javascripts %}
    {{ parent() }} 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{{ asset('assets/js/charts/current_week_viewers.js') }}"></script>
	<script src="{{ asset('assets/js/charts/last_week_viewers.js') }}"></script>
	<script src="{{ asset('assets/js/charts/month_viewers.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container mb-5">
        <section class="col-sm-12 col-md-6">
            <div class="card card-body">
                <h2 class="text-center mt-5 mb-5">Current week Viewers</h2>
                <canvas id="current-week-viewers-chart"></canvas>
            </div>
        </section>
        <section class="col-sm-12 col-md-6">
            <div class="card card-body">
                <h2 class="text-center mt-5 mb-5">Last week Viewers</h2>
                <canvas id="last-week-viewers-chart"></canvas>
            </div>
        </section>
        
        <section class="col-sm-12">
            <div class="card card-body">
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <h2 class="text-center mt-5 mb-5">Month Viewers</h2>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <select class="mt-5 mb-5 form-control">
                            <option>Luty</option>
                            <option>Marzec</option>
                            <option>Kwiecień</option>
                            <option>Maj</option>
                        </select>
                    </div>
                </div>
                <canvas id="month-viewers-chart"></canvas>
            </div>
        </section>
    </div>
{% endblock %}