.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

/* Extra large - xl */
.col-xl-12 {
    grid-column: span 12;
}

.col-xl-11 {
    grid-column: span 11;
}

.col-xl-10 {
    grid-column: span 10;
}

.col-xl-9 {
    grid-column: span 9;
}

.col-xl-8 {
    grid-column: span 8;
}

.col-xl-7 {
    grid-column: span 7;
}

.col-xl-6 {
    grid-column: span 6;
}

.col-xl-5 {
    grid-column: span 5;
}

.col-xl-4 {
    grid-column: span 4;
}

.col-xl-3 {
    grid-column: span 3;
}

.col-xl-2 {
    grid-column: span 2;
}

.col-xl-1 {
    grid-column: span 1;
}

/* Medium - md */
.col-md-12 {
    grid-column: span 12;
}

.col-md-11 {
    grid-column: span 11;
}

.col-md-10 {
    grid-column: span 10;
}

.col-md-9 {
    grid-column: span 9;
}

.col-md-8 {
    grid-column: span 8;
}

.col-md-7 {
    grid-column: span 7;
}

.col-md-6 {
    grid-column: span 6;
}

.col-md-5 {
    grid-column: span 5;
}

.col-md-4 {
    grid-column: span 4;
}

.col-md-3 {
    grid-column: span 3;
}

.col-md-2 {
    grid-column: span 2;
}

.col-md-1 {
    grid-column: span 1;
}

/* Small - sm */
.col-sm-12 {
    grid-column: span 12;
}

.col-sm-11 {
    grid-column: span 11;
}

.col-sm-10 {
    grid-column: span 10;
}

.col-sm-9 {
    grid-column: span 9;
}

.col-sm-8 {
    grid-column: span 8;
}

.col-sm-7 {
    grid-column: span 7;
}

.col-sm-6 {
    grid-column: span 6;
}

.col-sm-5 {
    grid-column: span 5;
}

.col-sm-4 {
    grid-column: span 4;
}

.col-sm-3 {
    grid-column: span 3;
}

.col-sm-2 {
    grid-column: span 2;
}

.col-sm-1 {
    grid-column: span 1;
}

/* Extra Large >= 1200px */
@media only screen and (min-width: 1200px) {
    /* Extra large - xl */
    .col-xl-12 {
        grid-column: span 12!important;
    }

    .col-xl-11 {
        grid-column: span 11!important;
    }

    .col-xl-10 {
        grid-column: span 10!important;
    }

    .col-xl-9 {
        grid-column: span 9!important;
    }

    .col-xl-8 {
        grid-column: span 8!important;
    }

    .col-xl-7 {
        grid-column: span 7!important;
    }

    .col-xl-6 {
        grid-column: span 6!important;
    }

    .col-xl-5 {
        grid-column: span 5!important;
    }

    .col-xl-4 {
        grid-column: span 4!important;
    }

    .col-xl-3 {
        grid-column: span 3!important;
    }

    .col-xl-2 {
        grid-column: span 2!important;
    }

    .col-xl-1 {
        grid-column: span 1!important;
    }
}
/* Large >=992px */

/* Medium >= 768px */
@media only screen and (min-width: 768px) {
    /* large - lg */
    .col-md-12 {
        grid-column: span 12!important;
    }

    .col-md-11 {
        grid-column: span 11!important;
    }

    .col-md-10 {
        grid-column: span 10!important;
    }

    .col-md-9 {
        grid-column: span 9!important;
    }

    .col-md-8 {
        grid-column: span 8!important;
    }

    .col-md-7 {
        grid-column: span 7!important;
    }

    .col-md-6 {
        grid-column: span 6!important;
    }

    .col-md-5 {
        grid-column: span 5!important;
    }

    .col-md-4 {
        grid-column: span 4!important;
    }

    .col-md-3 {
        grid-column: span 3!important;
    }

    .col-md-2 {
        grid-column: span 2!important;
    }

    .col-md-1 {
        grid-column: span 1!important;
    }
}

/* Small >= 576px and max is 768px */
@media only screen and (max-width: 768px) {
    /* large - lg */
    .col-sm-12 {
        grid-column: span 12!important;
    }

    .col-sm-11 {
        grid-column: span 11!important;
    }

    .col-sm-10 {
        grid-column: span 10!important;
    }

    .col-sm-9 {
        grid-column: span 9!important;
    }

    .col-sm-8 {
        grid-column: span 8!important;
    }

    .col-sm-7 {
        grid-column: span 7!important;
    }

    .col-sm-6 {
        grid-column: span 6!important;
    }

    .col-sm-5 {
        grid-column: span 5!important;
    }

    .col-sm-4 {
        grid-column: span 4!important;
    }

    .col-sm-3 {
        grid-column: span 3!important;
    }

    .col-sm-2 {
        grid-column: span 2!important;
    }

    .col-sm-1 {
        grid-column: span 1!important;
    }
}

/* Extra small < 576px*/
@media only screen and (max-width: 576px) {
    /* large - lg */
    .col-xs-12 {
        grid-column: span 12!important;
    }

    .col-xs-11 {
        grid-column: span 11!important;
    }

    .col-xs-10 {
        grid-column: span 10!important;
    }

    .col-xs-9 {
        grid-column: span 9!important;
    }

    .col-xs-8 {
        grid-column: span 8!important;
    }

    .col-xs-7 {
        grid-column: span 7!important;
    }

    .col-xs-6 {
        grid-column: span 6!important;
    }

    .col-xs-5 {
        grid-column: span 5!important;
    }

    .col-xs-4 {
        grid-column: span 4!important;
    }

    .col-xs-3 {
        grid-column: span 3!important;
    }

    .col-xs-2 {
        grid-column: span 2!important;
    }

    .col-xs-1 {
        grid-column: span 1!important;
    }
}